@import "./variables.sass"

@media (min-width: 1171px)
    .promo
        &__title
            line-height: 80px

@media (max-width: 1170px)
    .container
        width: 960px
    .header
        &__wrapper-address
            width: 77%
    .promo
        &__title
            font-size: 48px
            line-height: 62px
            margin-bottom: 30px
        &__wrapper-img
            width: 350px
            height: 350px
            left: 60%
        .swiper
            &__btns
                width: 100px
                height: 40px
            &__next, &__prev
                width: 40px 
                height: 40px 
    .healthy__contents 
        left: 45%
    .offer__product 
        width: 570px
        background: url("../components/offer/orange.png") 0% center/cover no-repeat
        padding-left: 15px
        margin-top: -100px


@media (max-width: 992px)
    .container
        width: 720px
    .link_big
        width: 120px
        height: 40px
    .promo
        &__title
            font-size: 36px
            line-height: 48px
            margin-bottom: 0
        &__wrapper-img
            width: 350px
            height: 350px
            top: -30%
            left: 45%
    .healthy
        &__title
            font-size: 36px
            line-height: 62px
    .offer
        &__product
            width: 330px
            margin-top: 0
        &__wrapper-img
            width: 330px
            height: 280px
    .footer
        &__wrapper
            width: 100%
            flex-wrap: wrap
            justify-content: space-between
            margin-bottom: 20px
        &__desc
            margin-bottom: 20px
        &__copyright
            font-size: 12px
        &__content
            padding: 80px 0 112px

@media (max-width: 768px)
    .container
        width: 540px
    .header
        &__wrapper-address
            width: 70%
    .promo
        &__text
            width: 100% 
        &__title
            font-size: 36px
            line-height: 52px
            margin-bottom: 25px
        &__wrapper-img
            width: 200px
            height: 200px
            top: -10%
            left: 58%
    .swiper__btns
        display: none
    .healthy
        background: none
        &__contents
            left: 20%
            width: 66%
    .offer
        &__desc
            margin: 32px auto
        &__content
            padding: 0
            flex-wrap: wrap
        &__product
            width: calc( 577px / 530px * 100% )
            margin: 0 auto
        &__wrapper-img
            width: 330px
            height: 280px

@media (max-width: 576px)
    .container
        width: 100%
        padding: 0 10px
    .header
        &__link-logo
            margin-bottom: 18px
        &__humburger
            display: flex
            position: relative
            justify-content: center
            align-items: center
            margin: 10px 0
            width: 50px
            height: 35px
            left: 83%
            z-index: 1
            cursor: pointer
        &__humburger-line
            width: 45px
            height: 1px
            background: $main-color
            &::before, &::after
                position: relative
                display: block
                content: ""
                width: 45px
                height: 1px
                background: $main-color
            &::before
                top: 10px
            &::after
                bottom: 10px
        &__cross
            position: absolute
            display: block
            font-size: 38px
            top: 20px
            right: 20px
            color: $main-color
            transition-duration: 0.6s
            &:hover
                transform: rotate(-360deg)
                font-size: 0
        &__menu
            background: #fff
            width: 100vw
            height: 100vh
            position: fixed
            top: 0
            left: -100%
            z-index: 4
            overflow: auto
            transition-duration: 0.8s
            &_active
                left: 0
        &__cart
            width: 60px
            height: 60px
            img
                width: 25px
                height: 25px
            &-counter
                top: 25%
                right: 18%
        &__info
            font-size: 10px
        &__wrapper-navs
            display: flex
            flex-direction: column
            justify-content: stretch
            margin: 45px 0
        &__nav
            flex-direction: column
            a 
                font-size: 24px
                margin: 0 0 18px 0
    .promo
        &__title
            font-size: 24px
            line-height: 38px
            margin-bottom: 0px
        &__wrapper-img
            display: none
    .link_big
        bottom: 10%
    .discounts
        padding: 80px 0
        &__wrapper
            margin: 0 auto
        &__picture
            display: none
    .priority-products
        padding: 80px 0 200px
    .featured-products
        padding: 160px 0 80px
    .offer
        padding: 80px 0

@media (max-width: 495px)
    .header
        &__contacts
            justify-content: center
        &__wrapper-address
            justify-content: center
        &__address:nth-child(even)
            margin-right: 0
    .healthy__title
        font-size: 32px
        line-height: 48px
    .featured-products
        &__title
            font-size: 44px
        &__btn:nth-of-type(n+4)
            margin-top: 10px

@media (max-width: 465px)
    .link_big
        width: 110px
        height: 35px
        div
            font-size: 14px

@media (max-width: 376px)
    .promo
        &__title
            font-size: 22px
            line-height: 32px
            span
                text-shadow: none
                color: #000
    .header
        &__address
            margin: 0 0 10px 0
        &:nth-last-child(1)
            margin-bottom: 0
    .link_big 
        width: 100px
        height: 30px
        bottom: 5%
    .offer
        &__wrapper-img
            width: 280px
            height: 250px